* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  /* flex-direction: row;by default */
  display: flex; /* defaults to flex row : main-axis flex-direction:row */
  background-color: #d19d9d;
  /* Always is on the main axis*/
  /* justify-content: end; */
  /* Always is on the cross axis*/
  /* align-items: start;  */

  /* flex-wrap: wrap; */
}

/* .flex-container::after {  to show how it align without flex
  content: '';
  clear: both;
  display: block;
} */

.item {
  flex: 1; /* 1 0 0/100px : combination of 3 props: grow shrink basis*/
  height: 100px;
  background-color: #1742cf;
  color: white;
  margin: 10px;

  /* Centering elements */
  display: flex; /* It doesn't matter it have to be a flex container, can be flex item as well*/
  justify-content: center; /*main axis - horizontal*/
  align-items: center; /*cross axis - vertical*/
}

.item:nth-of-type(1) {
}

.item:nth-of-type(2) {
}

.item:nth-of-type(3) {
  /* using psuedo-selector ; to select each flex item  */
}
